<!-- header -->
<div data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <header id="home" class="header">
      <div class="overlay text-white text-center">
        <h1 class="display-2 font-weight-bold my-3">MediBot</h1>
        <h2 class="display-4 mb-5">Intelligent virtual assistant for personalized <br> medical care and guidance.</h2>
        <a class="btn btn-lg btn-info" href="https://wa.me/message/AVZ5FOQ7NJB3K1" target="_blank">Try It</a>
      </div>
    </header>
  
    <!-- core  -->
    <script src="../../assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="../../assets/vendors/bootstrap/bootstrap.bundle.js"></script>
  
    <!-- bootstrap affix -->
    <script src="../../assets/vendors/bootstrap/bootstrap.affix.js"></script>
  
    <!-- wow.js -->
    <script src="../../assets/vendors/wow/wow.js"></script>
  
    <!-- FoodHut js -->
    <script src="../../assets/js/foodhut.js"></script>
  </div>
  